{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <form method="post" class="task-form">
                {% csrf_token %}
                <div class="col-lg-9">{{ form|crispy }}</div>
                <div class="col-lg-3"><input type="submit" class="btn btn-primary" value="Add Task"></div>
            </form>
        </div>
    </div>

    {% for task in tasks %}
        <div class="container">
            <div class="col-lg-12">
                {% if task.done %}
                    <span class="fa fa-check-square-o"></span>
                {% else %}
                    <span class="fa fa-square-o"></span>
                {% endif %}
                <p>{{ task.task_name }}</p>
                <hr />
            </div>
        </div>
    {% endfor %}

{% endblock %}