{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}
    <div class="row form-container">
            <h1>@</h1>
        <div class="form">
            <div class="heading">
                <h3>Add a Task</h3>
            </div>
            <div class="login-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-form">Add Task</button>
                </form>
            </div>
        {% for task in tasks %}
            <div class="container">
                <div class="col-lg-12 task-list">
                    {% if task.done %}
                        <span class="fa fa-check-square-o"></span>
                    {% else %}
                        <span class="fa fa-square-o"></span>
                    {% endif %}
                    <p>{{ task.task_name }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}