{% extends 'fitness/base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block tracker %}
    <div class="col-lg-12">
        <h3>Exercise Log</h3>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-form">Add Exercise</button>
        </form>
    </div>
{% endblock %}
{% block content %}
   <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ exercise.exercise }}"?</p>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
        </div>
    </div>
</div>
{% endblock %}