{% extends 'base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row form-container">
            <h1>@</h1>
        <div class="form">
            <div class="heading">
                <h3>Fitness Tracker</h3>
            </div>
            <div class="login-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-form">Add Exercise</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}