$black: #000;
$white: #fff;

// Color Mixins
$crete: #61892F;
$atlantis: #86C232;
$shark: #222629;
$abbey: #474B4F;
$nevada: #6B6E70;

//second option
$tango: #ef6817;
$tuatara: #21201F;
$tapa: #727271;
$storm_dust: #5f605d;
$mine_shaft: #383838;

//Adventure option
$black-haze: #eef0ef;
$chicago: #615f5c;
$desert-storm: #f5f5f4;
$fuscous-gray: #504e4b;
