$black: #000;
$white: #fff;

// Color Mixins
$crete: #61892F;
$atlantis: #86C232;
$shark: #222629;
$abbey: #474B4F;
$nevada: #6B6E70;

//second option
$tango: #ef6817;
$tuatara: #21201F;
$tapa: #727271;
$storm_dust: #5f605d;
$mine_shaft: #383838;

//Adventure option
$black-haze: #eef0ef;
$chicago: #615f5c;
$desert-storm: #f5f5f4;
$fuscous-gray: #504e4b;

//third option
$trustyblue: #368cbf;
$accentgreen: #7ebc59;
$darkslate: #33363b;
$lightgrey: #eaeaea;

//fourth option Colormind.io
$gray-nurse: #F0F2F0;
$abbey2: #i3i584;
$donky-brown: #A1916D;
$empress: #81787C;
$shark2: #212128;

//Option 1
$shark: #1D1E25;
$ironstone: #814c3e;
$granny-smith: #89a0a6;
$ripe-lemon: #f4cc10;
$black-haze: #e9ede8;

//Option 2
$pampas: #f6f5f3;
$sandrift: #a78876;
$whiskey: #D69F66;
$cape-palliser: #A45B48;
$cape-cod: #323433;