// Mixins
@import "base/colors.scss";

@import 'base/base.scss';
@import 'elements/buttons.scss';
@import 'elements/tasks.scss';
@import 'components/forms.scss';


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.user-image {
  border-radius: 100% 100%;
  max-width:300px;
  max-height:300px;
}

.navbar, .navbar-collapse {
  background-color:#111417;
  color:#fff;
  border:0;
}

.navbar-inverse {
  background-image:none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color:#61892f;
}

