{% extends 'base.html' %}

{%  load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}
    <div class="row">
        <div class="login">
            <div class="heading">
                <h1>Login</h1>
            </div>
            <p>Please log in here.</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-login">Login</button>
            </form>
        </div>
    </div>
    <div class="row">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'accounts:register' %}">Register</a></li>
            <li><a href="{% url 'accounts:reset_password' %}">Reset Password</a></li>
        </ul>
    </div>
{% endblock %}