{% extends 'base.html' %}

{% block head %}
<title>Profile</title>

{% endblock %}

{% block content %}

    <p>
        <b>Username:</b> {{ user.userprofile.user }}
    </p>
    <p>
        <b>Name:</b> {{ user.first_name }} {{ user.last_name }}
    </p>
    <p>
        <b>City:</b> {{ user.userprofile.city }}
    </p>
    <p>
       <b>Description:</b> {{ user.userprofile.description }}
    </p>
    <p>
        <b>Website:</b> {{ user.userprofile.website}}
    </p>
    <p>
        <b>Email:</b> {{ user.email}}
    </p>

{% endblock %}