{% extends 'fitness/base.html' %}

{% block head %}
<title>Profile</title>

{% endblock %}

{% block side_column %}


{% endblock %}
{% block content %}
    {% if user.userprofile.image %}
    <p>
        <img src="{{ user.userprofile.image.url }}" class="user-image" width="300" />
    </p>
    {% else %}
        <!-- If a user decides to leave out their image, a default image will display -->
        <img src="/media/profile_image/default-profile.svg" class="user-image" />
    {% endif %}
    <p>
        <b>Username:</b> {{ user.userprofile.user }}
    </p>
    <p>
        <b>Name:</b> {{ user.first_name }} {{ user.last_name }}
    </p>
    <p>
        <b>City:</b> {{ user.userprofile.city }}
    </p>
    <p>
       <b>Description:</b> {{ user.userprofile.description }}
    </p>
    <p>
        <b>Website:</b> {{ user.userprofile.website}}
    </p>
    <p>
        <b>Email:</b> {{ user.email}}
    </p>

{% endblock %}