.login {
  display:block;
  max-width:300px;
  height:100%;
  padding:0 0 0;
  margin:10% auto;
  text-align:center;
  .heading {

  }
}

.btn-login {
  width:100%;
  text-transform:uppercase;
  background-color:#86C232;
  color:#727271;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}